# Environment
.env
venv/
.venv/

# Python
__pycache__/
*.py[cod]
*.egg-info/

# Pytest
.pytest_cache/

# Reports
reports/
htmlcov/

# Allure
allure-results/
allure-report/

# Logs
logs/
*.log

# Screenshots
screenshots/

# IDE
.idea/
.vscode/

# macOS
.DS_Store